@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import url(https://fonts.googleapis.com/css?family=Armata);
@import url(https://fonts.googleapis.com/css?family=Lora);

h1{
  color: green;
  font-family: 'Bree Serif', serif;

}

h2{
  color: #FF8C00;
  font-family: 'Armata', sans-serif;
}

p{
  font-family: 'Lora', serif;
}

#McsPub{
  margin-left: 150px;

}

#history{
    margin-left: 185px;
}





#homelink{
  color: #FF8C00;
}

#shamrock2{
  width:200px;
  color:white;
  }

#beer1{
  width:200px;
  margin-left: 100px;
}

#shamrock3{
  width:200px;
  margin-left: 100px;

}

#beer2{
  width: 200px;
  margin-left: 100px;
}

#shamrock4{
  width:200px;
  margin-left: 100px;
}




#historylink{
  color:#FF8C00;
}

#map1{
  margin-left: 285px;
  width: 500px;
}

#menulink{
  color:#FF8C00;
}

#upcomingeventslink{
  color:#FF8C00;
}

#specialslink{
  color:#FF8C00;
}


.navbar-inverse{
  background-color:green;
}

#upcomingevents{
  margin-left: 245px;

}



























































.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}
