@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import url(https://fonts.googleapis.com/css?family=Armata);


h1{
  color: green;
  font-family: 'Bree Serif', serif;

}

h2{
  color: #FF8C00;
  font-family: 'Armata', sans-serif;
}





























































.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}
