@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import url(https://fonts.googleapis.com/css?family=Armata);
@import url(https://fonts.googleapis.com/css?family=Lora);

h1{
  color: green;
  font-family: 'Bree Serif', serif;

}

h2{
  color: #FF8C00;
  font-family: 'Armata', sans-serif;
}

p{
  font-family: 'Lora', serif;
}

#McsPub{
  margin-left: 150px;

}

#history{
    margin-left: 185px;
}



#Mc{
  margin-left: 455px;


}

#homelink{
  color: #FF8C00;
  margin-left: 360px;

}


#beer1{
  width:200px;
  margin-left: 100px;
}

#shamrock3{
  width:200px;
  margin-left: 200px;

}

#beer2{
  width: 200px;
  margin-left: 100px;
}

#shamrock4{
  width:200px;
  margin-left: 100px;
}




#historylink{
  color:#FF8C00;
}

#map1{
  margin-left: 305px;
  width: 500px;
}

#menulink{
  color:#FF8C00;
}

#upcomingeventslink{
  color:#FF8C00;
}

#specialslink{
  color:#FF8C00;
}


.navbar-inverse{
  background-color:green;
}

#upcomingevents{
  margin-left: 140px;

}

#d4{
  margin-left: 120px;
}

#d11{
  margin-left: 120px;
}

#d18{
  margin-left: 120px;
}

#d31{
  margin-left: 120px;
}
#j3{
  margin-left: 120px;
}
#j12{
  margin-left: 120px;
}
#j15{
  margin-left: 120px;
}
#j23{
  margin-left: 120px;
}
#f13{
  margin-left: 120px;
}
#f14{
  margin-left: 120px;
}
#m1{
  margin-left: 120px;
}

#heading {
  background-color: #FF8C00;
}



#menu{
  margin-left: 550px;

}

#app{
  margin-left: 220px;
}

#BW{
  margin-left: 200px;
}

#nachos{
  margin-left: 200px;
}
 #jp{
   margin-left: 200px;
 }
#ms{
  margin-left: 200px;
}
#samp{
  margin-left: 200px;
}
#cq{
  margin-left: 200px;
}

#SS{
  margin-left: 220px;

}
#fos{
  margin-left: 200px;
}
#cns{
  margin-left: 200px;
}
#ts{
  margin-left: 200px;
}
#swcs{
  margin-left: 200px;
}
#ccs{
  margin-left: 200px;
}
#cs{
  margin-left: 200px;
}

#ent{
  padding-top: 56.7px;
  margin-left: 180px;
}

#steak{
  margin-left: 160px;

}
#cutlet{
margin-left: 160px;
}
#shrimp{
margin-left: 160px;
}
#wrap{
margin-left: 160px;
}
#fry{
margin-left: 160px;
}
#burger{
margin-left: 160px;
}
#grilled{
margin-left: 160px;
}
#veggie{
margin-left: 160px;
}

#DS{
  margin-left: 180px;
}

#cp{
  margin-left: 160px;
}
#cream{
  margin-left: 160px;
}
#cake{
  margin-left: 160px;
}

#BL{

margin-left: 220px;
}
#b{
margin-left: 200px;
}

#bl{
margin-left: 200px;
}
#coors{
margin-left: 200px;
}
#coorsl{
margin-left: 200px;
}
#pbr{
margin-left: 200px;
}
#rr{
margin-left: 200px;
}
#ml{
margin-left: 200px;
}
#mhl{
margin-left: 200px;
}
#limes{
margin-left: 200px;
}
#guin{
margin-left: 200px;
}
#pac{
margin-left: 200px;
}

#wingsmenu{
  width: 80px;
  margin-left: 200px;
}

#mozzsticksmenu{
    width: 50px;
    margin-left: 200px;
}
#soupmenu{
    width: 50px;
    margin-left: 200px;
}
#saladmenu{
    width: 50px;
    margin-left: 200px;
}
#coorsmenu{
    width: 50px;
    margin-left: 200px;
}
#pacificomenu{
    width: 20px;
    margin-left: 200px;
}

#burgermenu{
  width: 50px;
  margin-left: 160px;
}

#knicks{
  width: 50px;
  margin-left: 160px;
}

#cakemenu{
  width: 50px;
  margin-left: 160px;
}



#specials{
  margin-left: 550px;

}
#monday{
  margin-left: 60px;
}

#G{
  margin-left: 60px;

}
#bombs{
margin-left: 60px;
}
#buffw{
margin-left: 60px;
}

#tuesday{
  margin-left: 60px;
}
#bbl{
  margin-left: 60px;
}
#soco{
  margin-left: 60px;
}
#bburg{
margin-left: 60px;
}
#wednsday{
  margin-left: 60px;
}
#mml{
  margin-left: 60px;
}
#ffs{
  margin-left: 60px;
}
#mmix{
  margin-left: 60px;
}

#thurs{
  margin-left: 60px;
}
#mlites{
margin-left: 60px;
}
#jb{
  margin-left: 60px;
}

#friday{
  padding-top: 99.7px;
  margin-left: 120px;
}

#fireball{
margin-left: 110px;
}
#rolling{
margin-left: 110px;
}
#half{
margin-left: 110px;
}
#saturday{
margin-left: 120px;
}
#buds{
margin-left: 110px;
}
#wwwings{
margin-left: 110px;
}
#sportbl{
margin-left: 110px;
}
#sunday{
margin-left: 120px;
}
#bzpitch{
margin-left: 110px;
}
#alldaybud{
margin-left: 110px;
}
#bbbburger{
margin-left: 110px;
}

































































































































































































































































































































.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}
