<!DOCTYPE html>
<html>
<head>
  <title> McCarthy's Pub </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<div class="container-fluid" id="heading">
  <h1 id="Mc"> McCarthy's Pub</h1>
</div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div>
      <ul class="nav navbar-nav">
        <li><strong><a id="homelink" href="index.html">Home</a></li></strong>
        <li><strong><a id="historylink"href="history.html">History</a></li></strong>
        <li><strong><a id="menulink" href="menu.html">Menu</a></li></strong>
        <li><strong><a id="upcomingeventslink"href="upcomingevents.html">Upcoming Events</a></li></strong>
        <li><strong><a id="specialslink"href="specials.html">Specials</a></li></strong>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
{{ content }}
</div>
</div>
</body>
</html>
